.root {
  @apply text-secondary border-t border-accent-2 bg-secondary;
}

.link {
  & > svg {
    @apply transform duration-75 ease-linear;
  }

  &:hover > svg {
    @apply scale-110;
  }
}

.onHoverLT, .onHoverCP{
  width: fit-content;
}
.onHoverLT > a{
  padding-bottom: 8px;
}

.onHoverCP > a{
  padding-bottom: 8px;
}

.onHoverLT > a:hover{
  border-bottom: 2px solid white;
}
.onHoverCP > a:hover{
  border-bottom: 2px solid white;
}