.root {
  @apply min-h-screen grid;
  grid-template-areas:
    'side nav'
    'side main';
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
}

.nav {
  grid-area: nav;
}

.sidebar {
  grid-area: side;
  @apply py-9 px-12 flex flex-col items-start justify-center space-y-12;

  .button {
    @apply text-primary uppercase pl-3 border-l-2 border-transparent transition-colors;

    &:hover,
    &.active {
      @apply border-current;
    }
  }
}

.main {
  @apply flex items-center relative;
  grid-area: main;
}

.activeProduct {
  @apply relative z-20 w-44 h-72;

  .link {
    @apply uppercase first:opacity-100 last:opacity-0;

    & > * {
      @apply transition-opacity;
    }

    & > :last-child {
      @apply absolute inset-0 m-auto opacity-0;
    }

    &:hover > * {
      @apply first:opacity-0 last:opacity-100;
    }
  }

  .link:hover {
    @apply first:opacity-0 last:opacity-100;
  }
}

.heroImage {
  @apply absolute z-0 top-16;
}
