.root {
  @apply relative min-h-screen grid min-h-0;
  grid-template-areas:
    'nav'
    'main';
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  @media (min-width: 768px) {
    grid-template-areas:
      'side nav'
      'side main';
    grid-template-columns: auto minmax(0, 1fr);
    grid-template-rows: auto minmax(0, 1fr);
  }
}

.nav {
  grid-area: nav;
}

.side {
  grid-area: side;
  @apply relative w-48 z-20;
}

.sidebarOuter {
  @apply absolute inset-0 py-9 w-52 pl-12 pr-6 scrollbar-thin overscroll-contain;
}

.sidebar {
  @apply min-h-full flex flex-col items-start justify-center space-y-12;

  .button {
    @apply block w-full text-left overflow-hidden text-primary uppercase pl-3 border-l-2 border-transparent transition-colors truncate;

    &:hover,
    &.active {
      @apply border-current;
    }
  }
}

.verticalNav {
  @apply absolute inset-y-0 my-auto h-8 -right-8 z-30;
  @apply flex items-center space-x-3 translate-x-1/2 -rotate-90;

  a {
    @apply uppercase whitespace-nowrap pb-0.5 mt-1.5;
    @apply border-transparent border-b-2 transition-colors hover:border-current;
  }
}

.main {
  @apply flex items-center pb-2;
  grid-area: main;
  min-height: 880px;
}

.heroImage {
  @apply absolute z-0 right-0 bottom-0 w-auto object-contain;
  height: calc(100% - 140px);
  max-height: 923px;
}

.fashionImage {
  @apply absolute z-0 left-0 bottom-20;
}

.activeProduct {
  @apply mt-32 ml-16 flex flex-col items-end space-y-6 z-20 w-full max-w-md;

  .activeImage {
    @apply relative object-cover h-auto max-w-full w-auto;
    height: 339px;
    width: 226px;
  }

  .desc {
    @apply self-start break-all h-24;
    padding-left: 15%;

    & > span {
      @apply text-lg box-decoration-clone bg-secondary text-secondary line-clamp-3 px-1;
    }
  }
}

.productLink {
  @apply py-5 w-full uppercase text-3xl !important;
  max-height: none !important;

  & > :first-child {
    @apply w-full flex items-center justify-between;

    .unit {
      @apply -rotate-90 text-xl;
    }

    .name {
      @apply flex items-center;

      svg {
        @apply mr-4;
      }
    }
  }

  & > * {
    @apply transition-opacity;
  }

  & > :last-child {
    @apply absolute inset-0 m-auto flex items-center justify-center opacity-0;
  }

  &:hover > * {
    @apply first:opacity-0 last:opacity-100;
  }
}
