.actions {
  @apply flex p-1 border-black border items-center justify-center;
  transition-duration: 0.15s;

  transition-property: border-color, background, color, transform, box-shadow;
  transition-timing-function: ease;
  user-select: none;
}

.actions:hover {
  @apply border bg-accent-1 border-black text-accent-9;
  transition: border-color;
  z-index: 10;
}

.actions:focus {
  @apply outline-none;
}

.actions:disabled {
  @apply cursor-not-allowed;
}
