.root {
  @apply relative max-h-full w-full box-border overflow-hidden
  bg-no-repeat bg-center bg-cover transition-transform
  ease-linear cursor-pointer inline-block;
  height: 100% !important;
}

.root:hover {
  & .productImage {
    @apply scale-105;
  }
}

.header {
  @apply transition-colors ease-in-out duration-500;
}

.header .name {
  @apply pt-0 max-w-full w-full leading-extra-loose
  transition-colors ease-in-out duration-500;
  font-size: 2rem;
  letter-spacing: 0.4px;
}

.header .name span {
  @apply text-primary font-bold
  transition-colors ease-in-out duration-500;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  font-size: inherit;
  letter-spacing: inherit;
}

.header .price {
  @apply pt-2 px-6 pb-4 text-sm text-accent-9
  font-semibold inline-block tracking-wide
  transition-colors ease-in-out duration-500;
}

.imageContainer {
  @apply flex items-center justify-center overflow-hidden;
}

.imageContainer > div {
  min-width: 100%;
}

.imageContainer .productImage {
  @apply transform transition-transform duration-500
  object-cover h-72;
}

.root .wishlistButton {
  @apply top-0 right-0 z-30 absolute;
}

/* Variant Simple */
.simple.root {
  @apply relative pl-8;
}

.simple .header {
  @apply absolute top-0 z-10 -rotate-90 origin-right;
  right: calc(100% - 1rem);

  .name {
    @apply text-lg whitespace-nowrap !important;
  }
}

.simple .price {
  @apply pt-1 text-xl;
}

/* Variant Slim */
.slim {
  @apply bg-transparent relative overflow-hidden
  box-border;
}

.slim .header {
  @apply absolute inset-0 flex items-center justify-end mr-8 z-20;
}

.slim span {
  @apply bg-accent-9 text-accent-0 inline-block p-3
  font-bold text-xl break-words;
}

.root:global(.secondary) .header span {
  @apply bg-accent-0 text-accent-9;
}
